Package: com.alexuyonut.onestateultra
Name: OneStateUltra
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Tweak for OneState
Maintainer: Alex
Author: Alex
Section: Tweaks
